body {
    background-color:#ffe4dd;
    color: black;
}

textarea, input {
    background-color:#fff2ee;
    color: black;
}

#formbox {
    margin-left: 15%;
}

#titlebox {
    width:80%;
    height: 2em;
}

#postbox {
    width:80%;
    height:70vh;
}



